.Shop-header {
    background-image: url("img.png");
    background-size: cover;
    background-attachment: fixed, scroll;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Shop-header-content {
    color: white;
}
.Shop-header-content h1 {
    font-size: 4em;
}

.Shop-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Shop-flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border-left: 1px solid rgba(211, 210, 210, 0.685);
    border-right: 1px solid rgba(211, 210, 210, 0.685);
    border-bottom: 1px solid rgba(211, 210, 210, 0.685);
}

#Shop-item-title {
    padding: 0 1em 0 1em;
}

.Shop-flex-item p {
    margin-top: 6em;
    margin-bottom: 2em;
}

.Shop-flex-price {
    color: rgb(13, 14, 13);
    font-size: 17px;
    font-weight: 1000;
    margin-bottom: 1em;
}

.Shop-flex-add {
    width: 100px;
}

.Shop-flex-item-link {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.Shop-flex-item img{
    width: 250px;
    height: 270px;
    padding: 3em 3em 3em 3em;
}

#grow {
    transition: 1s ease;
}
    
#grow:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.Shop-btn {
    border: none;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border: 1px solid grey;
    transition: 0.7s;
    position: relative;
    bottom: 0px;
    margin-bottom: 2em;
}

.Shop-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.Shop-flex-item:hover .Shop-btn{
    display: inline-block;
    transition: 0.5s;
}

@media only screen and (max-width: 1400px) {
    .Shop-flex-item {
        width: 35vw;
    }
}

@media only screen and (max-width: 968px) {
    .Shop-flex-item {
        width: 100%;
    }
} 

@media only screen and (max-width: 768px) {
    .Shop-flex-container {
        flex-direction: column;
        justify-content: center;
    }
    .Shop-btn {
        display: block;
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 414px) {
    .Shop-header-content h1 {
        font-size: 3em;
    }
}
    

